<div class="flex flex-col space-y-4 max-w-96">
  <h1 class="h1">Evaluation details</h1>
  <div class="border border-gray-200 rounded-md p-2">
    <%= render @evaluation %>
  </div>

  <% if current_person.teacher? %>
    <div>
      <%= link_to "Edit this evaluation", edit_evaluation_path(@evaluation), class: "link" %> |
      <%= link_to "Back to evaluations", :back, class: "link" %>

      <%= button_to "Destroy this evaluation", @evaluation, method: :delete, class: "submit-button" %>
    </div>
  <% end %>
</div>