<div id="<%= dom_id promotion %>">
  <p>
    <strong>Name:</strong>
    <%= promotion.name %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= promotion.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= promotion.ended_at %>
  </p>

</div>
