<h1 class="h1">Promotions</h1>

<div class="w-full flex flex-col items-center">
  <div class="flex flex-col space-y-4 w-full max-w-2xl">
    <div id="exam" class="flex flex-col space-y-4">
      <% @promotions.each do |promotion| %>
        <div class="border border-gray-200 rounded-md p-2">
          <%= render promotion %>
          <p>
            <%= link_to "Show this promotion", promotion, class: "link" %>
          </p>
        </div>
      <% end %>
    </div>

    <% if current_person.teacher? %>
      <%= link_to "New promotion", new_promotion_path, class: "submit-button" %>
    <% end %>
  </div>
</div>
