<div id="<%= dom_id exam %>">
  <p>
    <strong>Name:</strong>
    <%= exam.name %>
  </p>

  <p>
    <strong>Consideration:</strong>
    <%= exam.consideration %>
  </p>

  <p>
    <strong>Passed at:</strong>
    <%= exam.passed_at %>
  </p>

</div>
